.hero{
    padding-bottom: 6.25rem;
    position: relative;
    z-index: 1;
}

.hero--info{
    width: 30rem;
    padding-top: 12.5rem;    
    border-radius: 1.2rem;
    text-align: center;
    padding-left: 11.25rem;
}

.hero--info h1{
    color: white;
    -webkit-text-stroke: 0.09375rem black;
    font-size: 2.75rem;
    font-weight: 700;
}


.hero--info h2{
    color: white;
    -webkit-text-stroke: 0.09375rem black;
    font-size: 2.125rem;
    font-weight: 700;
    
}

.hero--info p{
    font-weight: 500;
    
}

.hero--info .btn{
    color: white;
    background: rgb(71, 154, 71); ;
    font-size: 1.25rem; 
    border-radius: 3.125rem; 
    padding: 0.9375rem 1.875rem;
    border: 0;
    transition: all 500ms ease;
}
.hero--info .btn a{
    color: #fff;
}
.hero--info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hero img{
    position: absolute;
    top: 3.75rem;
    right: 3.75rem;
    max-width: 40vw;
    height: auto;
}