.wrapper {
    background: #d3f5cb;
    background: rgba(220, 220, 220, 1);
    
    width: 100%;
    
    min-height: 100vh;  
}

.container {
    max-width: 87.5rem; 

    width: 95%; 
    
    margin: 0 auto;
}